{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": "warn"
  }
}